html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#cnvs {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading-container {
  position: relative;
  margin: auto;
  top: 45vh;
  width: 30vw;
  height: 5vh;
}

progress {
  position: relative;
  width: 30vw;
  height: 5vh;
}
